<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Date Sortir</th><th>Marque</th> <th>Image</th></tr>
                </thead>
                <tbody *ngFor="let biscuit of biscuits">
                    <tr>
                        <td>{{biscuit.idBiscuit}}</td>
                        <td>{{biscuit.nomBiscuit}}</td>
                        <td>{{biscuit.prixBiscuit}}</td>
                        <td>{{biscuit.dateSortir | date:'dd/MM/yyyy'}}</td>
                        <td>{{biscuit.marque?.nomMarque}}</td> 

                        <td><img class="card-img-top img-responsive"
                            src="{{apiurl+'/image/loadfromFS/'+biscuit.idBiscuit}}"
                            style = "height :50px;width:100px">
                            </td>

                            

                        <td><a *ngIf="authService.isAdmin()"
                             class="btn btn-danger" (click)="supprimerBiscuit(biscuit)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()"
                             class="btn btn-success" [routerLink]="['/updateBiscuit',biscuit.idBiscuit]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>